version: "3.8"

services:
  database:
    container_name: db
    image: postgres:13.4-alpine
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=test  # default password
      - POSTGRES_USER=test  # default user
      - POSTGRES_DB=db
    ports:
      - 5432:5432 # postgres port
    networks:
      - postgres

volumes:
  pgdata:

networks:
  postgres:
