@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$headerColor: #3a86ff;

$sideBarWidth: 200px;

$spacing: 25px;

html, body{
    font-family: 'Source Sans Pro', sans-serif;
}

.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner{
        min-width: 300px;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #cecece;
            margin-bottom: 20px;
        }
    }
}

.layout{
    height: 100vh;
    max-height: 100vh;
    width: 100%;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $headerColor;
        height: 80px;
        padding: 0 30px;
    
        .brand{
            width: $sideBarWidth + $spacing;
        }

        .logo{
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f1faee;
        }

        .rightNav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1
        }

        .text{
            color: #f1faee;
            font-size: 1.2rem;
            margin-right: 8px;
        }

    }
}

.userAvatar{
    display: flex;
    align-items: center;
    img{
        margin-right: 5px;
    }
}

.logoutButton{
    background-color: darken($headerColor, 40%);
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
}
